/* estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
   
}

/* estilo para smartphones */

@media only screen and (max-width: 787px) {
    .header{
      position: relative;
    }

    .header .container{
      text-align: center;
    }

    .header_menu{
      text-align: center;
    }
  
    .header_menu ul{
      padding-right: 20px;
      margin-left: 0px;
      margin-top: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
    .header_menu ul li {
      display: block;
      
    }
    
    .header_menu ul li a {
      font-family: "Avenir black" !important;
      color:  #0086FF;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
      transition: all .3s ease;
    }

    /* introducao */

    #modal_id{
      display:none;
    }

    #nav_id{
      position: relative;
    }

    #cozinha_banheiro{
      display: none;
    }

    #quarto_sala{
      display: none;
    }

    #externo{
      display: none;
    }

    #geral{
      display: none;
    }

    .areas_link{
      display: block;
      font-family: "Avenir normal";
      text-align: center;
      color: #A9A9A9;
      fill: #A9A9A9; /*#3f78bb*/;
      letter-spacing: .1em;
      font-size: 12px;
      
      -webkit-transition: 0.5s ease-out;
      -moz-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out;
    }

    .header_menu2 ul{
      display: flex;
      flex-wrap: wrap;
      width: 310px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .header_menu2{
      display:flex;
      flex-direction: column;
      float: right;
    }

    .search_in_list{
      margin-top: 3em;
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
      margin-top: 0px;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: rgba(105,105,105,0.05) !important;
    }

    #txt_busca{
      width:15em;
      border-radius: 5px;
      display: flex;
      padding: 6pt;
      border: none;
      margin-bottom: 20px;
      box-shadow: 0px 5px 10px rgba(105,105,105,0.20);
    }

    .introducaoTopo{
      top: 0px;
    }

    #main_home{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: -60px !important;
      background: #fff !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
     }

     .texto_home{
      text-align: center;
      margin-top: 30px;
      width: 300px;
     }
  
    .texto_home h1{
      margin: 0 auto;
      font-family: "Avenir black";
      line-height: 1.1em;
      font-size: 30px;
     }

     .texto_home p{
      margin: 0 auto;
      font-family: "Avenir normal";
      margin-top: .5em;
      margin-bottom: .5em;
      line-height:1.2em;
      text-align: justify;
    }
  
    .texto_home div a{
      float: none;
    }


    .infos{
      width: 100%;
      background: #0086FF;
      padding-top: .4em;
     }

     .infos_lista li h3{
      font-family: "Avenir normal";
      justify-content: center;
      font-size: .8em;
      margin-top: 1em;
      margin-left: 1.5em;
      color: #fff;
    }
 
 
     .infos_lista li{
      display: flex;
      align-items: center;
      justify-content: center;

    } 

    .flex_items{
      display: block;
      align-items: center;
      justify-content: space-between;
      margin-top: 1em;
    }

    #search_center{
      width: 96%;
      border-radius: 5px;
      display: inline-block;
      margin-bottom: 20px;
      padding: 6pt;
      border: none;
      box-shadow: 0px 5px 10px rgba(32,0,159,0.20);
    }

    .texto_final{
      font-family: "Avenir normal";
      text-align: center;
      background: 50px;
      margin-top: 40px;
      padding: 10px;
      width: 330px;
      
      
     }

    .texto_final h1{
      font-family: "Avenir black";
      line-height: 1.1em;
      font-size: 30px;
      margin-bottom: .5em;
     }

     .footer{
      width: 100%;
      background: #0086FF;
      padding: 15px 0;
      
    }
  
    .footer_direitos{
      font-family: "Avenir normal";
      text-align: center;
      color:#fff;
     
    }
  
    .footer .container{
      display: block;
      
    }
  
    .footer .container a{
      display: flex;
    }

    .footer .container a img{
      margin-left: 30px;
      margin-bottom: 10px;
    }


    /* Pagina de profissional */

    .introducao2{
      width: 100%;
      margin-top: 0px;
      background: url("../img/mobile.jpg") no-repeat center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
     }

     .texto_admin{
      text-align: left;
      background: 50px;
      margin-top: 120px;
      padding: 10px;
      width: 330px;
      
     }
    
    .texto_admin p{
      font-family: "Avenir normal";
      margin-top: .5em;
      margin-bottom: 1.5em;
      line-height:1.2em;
      text-align: justify;
    }

    .texto_homeP{
      text-align: center;
      margin-top: 30px;
      width: 330px;
     }
  
    .texto_homeP h1{
      margin: 0 auto;
      font-family: "Avenir black";
      line-height: 1.1em;
      font-size: 30px;
     }

     .texto_homeP p{
      margin: 0 auto;
      font-family: "Avenir normal";
      margin-top: .5em;
      margin-bottom: 1em;
      line-height:1.2em;
      text-align: justify;
    }

    .exemplo{
      padding-top: 0em;
      display:flex;
      text-align: center;
      align-items: center;
  }

  .exemplo img{
    width: 357px;
    height: 292px;
    margin-right: 40px;
    margin-left: -20px;
}
  
  .exemplo_02{
    text-align: center;
      background: #F9F9F9;
      padding-top: 0em;
      display:flex;
  }

  .exemplo_02 img{
    width: 357px;
    height: 292px;
    margin-right: 40px;
    margin-left: -20px;
}
  
  .subtitulo{
      font-family: "Avenir black";
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      color: #000;
      text-align: center;
      margin-top:2em;
  }

  .img_in_step{
    padding-left: 0px;
    
   }

  .admin{
    width: 100%;
      height: 30em;
      background: #fff;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
  
  .admin .container div{
    margin-top: 0em;
  }

  .btn_content{
    font-family: "Avenir black" !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 13px;
    margin-right: 6px;
    transition: all .3s ease;
  }

  .map{
    width:100%;
    background: #F9F9F9;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  /* Admin page */

  .painel{
    height: 80%;
    background: #fff;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(105,105,105,0.40);
}

.main_infos{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 450px;
  margin-right: -100px !important;
  background: transparent;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(105,105,105,0.40);
}

.footer_direitos p{
  font-family: "Avenir normal";
  text-align: center;
  color: #fff !important;
}


.header {
  top: 0;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 1px 2px rgba(105,105,105,0.40);
}


.conteudo_bemVindo{
  background: #fff;
  width: 40%;
  min-width: 395px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(105,105,105,0.40);
  position: relative;
}

.conteudo_bemVindo a{
  cursor: pointer;
  width: 100px;
  min-width: 250px;
  margin: 0 auto;
  
}

.conteudo_bemVindo h4{
  margin-bottom: 1em;
  margin-top: 1em;
  width: 300px;
  text-align: center;
}

.btn_fechar{
  position: absolute;
  top: -20px;
  right:45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: "Avenir black";
  padding: 10px;
  color: #fff !important;
  background: #0086FF;
  border: 1px solid #0086FF;
  box-shadow: 0px 5px 10px rgba(105,105,105,0.40);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.conteudo_compra{
  background: #fff;
  width: 60%;
  min-width: 250px;
  justify-content: center;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(105,105,105,0.40);
  position: relative;
}

.conteudo_compra a{
  cursor: pointer;
  width: 20%;
  min-width: 150px;
  margin: 0 auto;
}

.conteudo_compra h4{
  margin-bottom: 1em;
  margin-top: 1em;
}


.btn_fecharCompra{
  position: absolute;
  top: -20px;
  right: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: "Avenir black";
  padding: 10px;
  color: #fff !important;
  background: #0086FF;
  border: 1px solid #0086FF;
  box-shadow: 0px 5px 10px rgba(105,105,105,0.40);
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.card_pacote{
  font-family: "Avenir black";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #FFA500;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(255,165,0,0.40);
  padding: 1em;
}

.card_pacote h3{
  color: #fff;
}

  .white_coin{
    display: none;
  }

  .card_pacote button{
    font-size: 20px;
    background: #fff;
    border: 0px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(105,105,105,0.40);
  }

  .card_pacote button img{
    width: 30px;
    height: 30px;
    margin: 5px 5px 5px 0 !important;
  }

  .grid-3{
    width: 230px;
  }

}
  