/* estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
   
}

/* estilo para smartphones */

@media only screen and (max-width: 787px) {
    .header{
      position: relative;
    }

    .header .container{
      text-align: center;
    }

    .header_menu{
      text-align: center;
    }
  
    .header_menu ul{
      padding-right: 20px;
      margin-left: 0px;
      margin-top: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
    .header_menu ul li {
      display: block;
      
    }
    
    .header_menu ul li a {
      font-family: "Avenir black" !important;
      color:  #0086FF;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
      transition: all .3s ease;
    }

    /* introducao */

    #modal_id{
      display:none;
    }

    #nav_id{
      position: relative;
    }

    #cozinha_banheiro{
      display: none;
    }

    #quarto_sala{
      display: none;
    }

    #externo{
      display: none;
    }

    #geral{
      display: none;
    }

    .areas_link{
      display: block;
      font-family: "Avenir normal";
      text-align: center;
      color: #A9A9A9;
      fill: #A9A9A9; /*#3f78bb*/;
      letter-spacing: .1em;
      font-size: 12px;
      line-height: 20px;
      padding: 10px 0;
      -webkit-transition: 0.5s ease-out;
      -moz-transition: 0.5s ease-out;
      -o-transition: 0.5s ease-out;
      transition: 0.5s ease-out;
    }

    .header_menu2 ul{
      display: flex;
      flex-wrap: wrap;
      width: 310px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .header_menu2{
      display:flex;
      flex-direction: column;
      float: right;
    }

    .search_in_list{
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      margin-bottom: 0px;
      margin-top: 0px;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: rgba(105,105,105,0.05) !important;
    }

    #txt_busca{
      width:15em;
      border-radius: 5px;
      display: flex;
      padding: 6pt;
      border: none;
      margin-bottom: 10px;
      box-shadow: 0px 5px 10px rgba(105,105,105,0.20);
    }
}
  